<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Update Student</h1>
    <form onsubmit="return updateForm()">
        <input type="text" name="name" value="<%- student[0].NAME %>" placeholder="Enter name" required><br><br>
        <input type="email" name="email" value="<%- student[0].EMAIL %>" placeholder="Enter email" required><br><br>
        <input type="number" name="mobile" value="<%- student[0].MOBILE %>" placeholder="Enter Mobile number"
            required><br><br>
        <input type="hidden" name="id" value="<%- student[0].ID %>">
        <input type="submit" value="submit">
    </form>
    <div id="response"></div>
</body>
<script>

    updateForm = () => {

        let name = document.getElementsByTagName('input')[0];
        let email = document.getElementsByTagName('input')[1];
        let mobile = document.getElementsByTagName('input')[2];
        let id = document.getElementsByTagName('input')[3];
        let req = new XMLHttpRequest();

        req.open("POST", '/update-student');
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        req.send("name=" + name.value + "&email=" + email.value + "&mobile=" + mobile.value + "&id=" + id.value);
        req.onreadystatechange = () => {

            if (req.readyState == 4 && req.status == 200) {
                document.getElementById("response").innerText = req.responseText;
                setTimeout(() => {
                    window.open('/student');


                }, 2000);
            }
        }
        return false
    }

</script>


</html>